//declaring variables
$mobileWidth: 375px;
$desktopWidth: 1440px;

$fontSize: 15px;
$lowFontWeight: 400;
$mediumFontWeight: 700;
$largeFontWeight: 800;

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Inter', sans-serif;
  padding: 27px 15px;
}

header {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  p {
    float: left;
    margin-left: 40px;
    font-size: 18px;
  }
}

.menu {
  display: none;  
}


 

//footer
.attribution { 
  font-size: 11px; 
  text-align: center; 
  a { 
    color: hsl(228, 45%, 44%); 
  }
}
