/*primary color*/
$lightRed: hsl(0, 100%, 67%);
$orangeYellow: hsl(39, 100%, 56%);
$greenTeal: hsl(166, 100%, 37%);
$cobaltBlue: hsl(234, 85%, 45%);

/*neutral color*/
$white: hsl(0, 0%, 100%);
$paleBlue: hsl(221, 100%, 96%);
$lightLavender: hsl(241, 100%, 89%);
$darkGrayBlue: hsl(224, 30%, 27%);

//gradient for background
$colorStop1: hsla(252, 100%, 67%, 1);
$colorStop2: hsla(241, 81%, 54%, 1);

//for circle
$colorStop3: hsla(256, 72%, 46%, 0.5);
$colorStop4: hsla(241, 72%, 46%, 0);
