@use "color";

$mobile: 375px;
$desktop: 1440px;


@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,700;0,800;1,500&display=swap');


body {
  max-width: $mobile;
  margin: 0;
  font-family: 'Hanken Grotesk', sans-serif;
  font-size: 12px;
  font-weight: 500;
}
 
h1, h2, h3 {
  margin: 0;
  font-weight: 500;
}

main {
  color: color.$paleBlue;
  text-align: center;
  background-image: linear-gradient(color.$colorStop1, color.$colorStop2);
  border-radius: 0px 0px 25px 25px;

  h3 {
    font-size: 12px;
    color: color.$white;
    opacity: 0.5;
  }

  h3.result-head {
    font-size: 14px;
    padding: 16px;
  }

  div {
    margin: auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: linear-gradient(color.$colorStop3, color.$colorStop4);

    h1 {
      font-size: 40px;
      font-weight: 800;
      padding-top: 20px;
    }
  }

  h2 {
    padding: 16px 0px 8px;
    font-weight: 700;
  }

  p {
    font-size: 14px;
    margin: 0;
    padding: 0px 60px 20px;
    color: color.$white;
    opacity: 0.5;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;

  a {
    color: hsl(228, 45%, 44%);
  }
}

aside {
  padding: 24px;

  h2 {
    color: color.$darkGrayBlue;
    font-size: 16px;
  }

  div {
    display: flex;
    justify-content: space-around;
    margin: 12px 0px;
    border-radius: 8px;
    padding: 5px 14px;
  }

  .subject {
    flex: 5;
    padding-left: 5px;
  }

  .first {
    background-color: color.$lightRedOpac;
    color: color.$lightRed;
  }

  .second {
    background-color: color.$orangeYellowOpac;
    color: color.$orangeYellow;
  }

  .third {
    background-color: color.$greenTealOpac;
    color: color.$greenTeal;
  }

  .fourth {
    background-color: color.$cobaltBlueOpac;
    color: color.$cobaltBlue;
  }

  .score {
    color: color.$darkGrayBlue;
  }

  .hundred {
    color: color.$darkGrayBlueOpac;
  }
}

button {
  width: 100%;
}