@use "color";

$mobile: 375px;
$desktop: 1440px;

@font-face {
  font-family: 'HankenGrotesk';
  src: url(../assets/fonts/HankenGrotesk-VariableFont_wght.ttf),
       url(../assets/fonts/static/HankenGrotesk-Bold.ttf),
       url(../assets/fonts/static/HankenGrotesk-ExtraBold.ttf),
       url(../assets/fonts/static/HankenGrotesk-Medium.ttf);
}

body {
  margin: 0;
  font-family: 'HankenGrotesk';
  font-size: 18px;
  font-weight: 500;
}

h1, h3 {
  margin: 0;
}

main {
  color: color.$paleBlue;
  max-width: $mobile;
  text-align: center;
  background-image: linear-gradient(color.$colorStop1, color.$colorStop2);

  div {
    margin: auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: linear-gradient(color.$colorStop3, color.$colorStop4);
  }
}

.attribution {
  font-size: 11px;
  text-align: center;

  a {
    color: hsl(228, 45%, 44%);
  }
}
