@use 'color';

// view size
$mobile: 375px;
$desktop: 1440px;

//fonts
$openSan: 'Open Sans', sans-serif;
$poppins: 'Poppins', sans-serif;

* {
    margin: 0;
    padding: 0;
}


//footer
.attribution { 
    font-size: 11px; 
    text-align: center; 

    a { 
        color: color.$linkColor; 
    }
}
