@use 'color';

// view size
$mobile: 375px;
$desktop: 1440px;

//fonts
$openSan: 'Open Sans', sans-serif;
$poppins: 'Poppins', sans-serif;

* {
    margin: 0;
    padding: 0;
    font-family: $openSan;
    color: color.$darkCyan;
}

button {
    border-style: none;
    border-radius: 50px;
    background: none;
    cursor: pointer;
}

h1 {
    font-family: $poppins;
}

header {
    margin: 24px;
    display: flex;
    height: 24px;
    align-items: center;
    justify-content: space-between;

    img {
        width: 98px;
        height: 16px;
    }

    button {
        text-align: center;
        color: color.$pink;
        border: 1px solid color.$pink;
        padding: 2px 19px;
        font-size: 10px;
        font-family: $openSan;
        font-weight: 400;
        box-shadow: 3px 3px 22px -1px #dddddd;;

        &:hover, &:active {
            color: color.$lightPink;
            border-color: color.$lightPink;
        }
    }
}

.firstView {
    margin: 127px auto 0;
    text-align: center;
    width: 1035px;
    max-width: 80%;

    h1 {
        font-family: $poppins;
        font-size: 24px;
        font-weight: 700;
    }

    h2 {
        font-weight: 400;
        font-size: 14px;
        width: 588px;
        max-width: 100%;
        margin: 22px auto 0;
    }

    button {
        margin-top: 48px;
        padding: 10px 39px;
        background-color: color.$pink;
        font-family: $openSan;
        font-size: 12px;
        font-weight: 600;
        color: color.$paleBlue;

    }

    img {
        margin-top: 105px;
        max-width: 100%;
    }
}

.metrics {
    width: 152px;
    margin: auto;
    margin-top: 126px;
    h1 {
        font-size: 48px;
        font-family: $openSan;
    }

    p {
        color: color.$darkCyan;
        opacity: 0.3;
        font-size: 12px;
        font-weight: 600;
    }
}

.communities {
    text-align: left;
    img{
        margin-top: 0; 
        margin-left: 18px;
        width: 32px;
        height: 28px;
    }
}

.messages {
    text-align: left;
    img {
        margin-top: 96px;
        width: 24px;
        height: 21px;
    }
}

#breakP {
    width: 60px;
    margin: auto;
}

.growSection {
    background: url(../images/bg-section-top-mobile-1.svg) left top no-repeat,
                url(../images/bg-section-bottom-mobile-1.svg) left bottom no-repeat;
    background-size: 100% 100px, 100% 52px;
    padding-top: 90px;
    padding-bottom: 50px;
    text-align: center;
}

.container {
    background-color: color.$paleBlue;
    padding-top: 100px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column-reverse;

    img {
        width: 1000px;
        max-width: 80%;
    }
}

.textdiv {
    width: 80%;
    margin: 0 auto;
    margin-top: 74px;
    h1 {
        font-size: 22px;
    }

    p {
        font-size: 16px;
    }
}

.flowSection {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    padding-top: 134px;
    padding-bottom: 118px;

    img {
        width: 1000px;
        max-width: 80%;
    }
}


@media only screen and (min-width: 1024px) {
    header {
        height: 40px;
        margin: 79px 61px 0 81px;

        img {
            height: 40px;
            width: 240px;
        }

        button {
            font-size: 18px;
            padding: 3px 31px;
        }
    }

    .firstView {
        margin-top: 242px;

        h1 {
            font-size: 54px;
        }

        h2 {
            font-size: 20px;
            margin-top: 26px;
        }

        button {
           font-size: 18px;
           padding: 25px 100px;
        }

        img {
            margin-top: 118px;
        }
    }

    .metrics {
        display: flex;
        width: 100%;
        justify-content: space-between;

        h1 {
            font-size: 72px;
        }

        p {
            font-size: 20px;
        }

        .communities {
            img{
                width: 50px;
                height: 42px;
            }
        }
        
        .messages {
            img {
                width: 36px;
                height: 33px;
            }
        }

        #breakP {
            width: 100%;
        }
    }

    .growSection {
        background: url(../images/bg-section-top-desktop-1.svg) left top no-repeat,
                    url(../images/bg-section-bottom-desktop-1.svg) left bottom no-repeat;
        background-size: 100% 165px, 100% 139px;
        padding-top: 160px;
        padding-bottom: 130px;
        margin-top: 126px;
    }

    .container {
        padding: 70px 84px 40px 124px;
        flex-direction: row;
        align-items: center;
        gap: 10%;
    } 

    .textdiv {
        text-align: left;
        width: 50%;
        margin-top: 0;

        h1 {
            font-size: 40px;
        }
    
        p {
            font-size: 18px;
        }
    }

    .imagediv {
        width: 50%;
    }

    .flowSection {
        display: flex;
        gap: 10%;
        flex-direction: row-reverse;
        padding: 70px 84px 40px 100px;
        align-items: center;
    }
    
}

//footer
.attribution { 
    font-size: 11px; 
    text-align: center; 

    a { 
        color: color.$linkColor; 
    }
}

